@model IStoreRepository

@{
    ViewBag.Title = "Главная страница";
}

<div class="text-center">
    <a class="btn btn-primary" asp-action="AllUsers">Посмотреть всех пользователей сайта</a>
</div>

<div class="text-center">

</div>