@model IStoreRepository

@{
    ViewBag.Title = "Главная страница";
}

<div class="container">
    <div class="row">
        <a class="col m-4 btn btn-outline-dark" asp-action="AllFactories">Перейти к фабрикам</a>
    </div>
</div>