@model IStoreRepository

@{
    ViewBag.Title = "Главная страница";
}

<div class="container py-md-5">
    <div class="row">
        <a class="col m-4 btn btn-outline-dark" asp-action="AllUsers">Посмотреть всех пользователей сайта</a>
        <a class="col m-4 btn btn-outline-dark" asp-action="AllOrders">Перейти ко всем текущим заказам</a>
    </div>
    <div class="row">
        <a class="col m-4 btn btn-dark" asp-action="AllFactories">Перейти к фабрикам</a>
        <a class="col m-4 btn btn-dark" asp-action="AllClinics">Перейти к оптикам</a>
    </div>
    <div class="row">
        <a class="col m-4 btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" asp-action="CreateOrder">Создать заказ</a>
    </div>
</div>